<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>26-{{number}}</title>
</head>
<body>
<h1>Геометрия: Задачи повышенной сложности № 26 - {{number}}</h1>
<h4>{{task}}</h4>
<form action="" method="post">
    <p>
    <input class="form-control" id="answer" placeholder="Введите ответ" name="answer">
    </p>
</form>
<h4>{{verdict}}</h4>
<a href="/format">Памятка по вводу ответов</a>
<a href="/26">Назад</a>
</body>
</html>