<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>Подборка заданий</title>
</head>
<body>
<form action="" method="post">
<h4>21</h4>
    <h4>Выберите количество(от 1 до 5)</h4>
    <input class="form-control" id="answer_1" placeholder="Введите количество" name="answer_1">
<h4>22</h4>
    <h4>Выберите количество(от 1 до 5)</h4>
    <input class="form-control" id="answer_2" placeholder="Введите количество" name="answer_2">
<h4>23</h4>
    <h4>Выберите количество(от 1 до 5)</h4>
    <input class="form-control" id="answer_3" placeholder="Введите количество" name="answer_3">
<h4>24</h4>
    <h4>Выберите количество(от 1 до 5)</h4>
    <input class="form-control" id="answer_4" placeholder="Введите количество" name="answer_4">
<h4>25</h4>
    <h4>Выберите количество(от 1 до 5)</h4>
    <input class="form-control" id="answer_5" placeholder="Введите количество" name="answer_5">
<h4>26</h4>
    <h4>Выберите количество(от 1 до 5)</h4>
    <input class="form-control" id="answer_6" placeholder="Введите количество" name="answer_6">
<button type="submit" class="btn btn-primary">Составить подборку</button>
</form>
</body>
</html>