<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>Подборка заданий</title>
</head>
<body>
<h4>21</h4>
<div class="form-group">
    <h4>Выберите количество</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="1" value="1" checked>
        <h4 class="form-check-label">
            1
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="2" value="2" checked>
        <h4 class="form-check-label">
            2
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="3" value="3" checked>
        <h4 class="form-check-label">
            3
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="4" value="4" checked>
        <h4 class="form-check-label">
            4
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="5" value="5" checked>
        <h4 class="form-check-label">
            5
        </h4>
    </div>
</div>
<h4>22</h4>
<h4>Выберите количество</h4>
<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="22" id="6" value="1" checked>
        <h4 class="form-check-label">
            1
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="22" id="7" value="2" checked>
        <h4 class="form-check-label">
            2
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="22" id="8" value="3" checked>
        <h4 class="form-check-label">
            3
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="22" id="9" value="4" checked>
        <h4 class="form-check-label">
            4
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="22" id="10" value="5" checked>
        <h4 class="form-check-label">
            5
        </h4>
    </div>
</div>
<h4>23</h4>
<div class="form-group">
    <label>Выберите количество</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="23" id="11" value="1" checked>
        <h4 class="form-check-label">
            1
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="23" id="12" value="2" checked>
        <h4 class="form-check-label">
            2
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="23" id="13" value="3" checked>
        <h4 class="form-check-label">
            3
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="23" id="14" value="4" checked>
        <h4 class="form-check-label">
            4
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="23" id="15" value="5" checked>
        <h4 class="form-check-label">
            5
        </h4>
    </div>
</div>
<h4>24</h4>
<div class="form-group">
    <h4>Выберите количество</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="24" id="16" value="1" checked>
        <h4 class="form-check-label">
            1
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="24" id="17" value="2" checked>
        <h4 class="form-check-label">
            2
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="24" id="18" value="3" checked>
        <h4 class="form-check-label">
            3
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="24" id="19" value="4" checked>
        <h4 class="form-check-label">
            4
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="24" id="20" value="5" checked>
        <h4 class="form-check-label">
            5
        </h4>
    </div>
</div>
<h4>25</h4>
<div class="form-group">
    <h4>Выберите количество</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="21" value="1" checked>
        <h4 class="form-check-label">
            1
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="22" value="2" checked>
        <h4 class="form-check-label">
            2
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="23" value="3" checked>
        <h4 class="form-check-label">
            3
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="24" value="4" checked>
        <h4 class="form-check-label">
            4
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="21" id="25" value="5" checked>
        <h4 class="form-check-label">
            5
        </h4>
    </div>
</div>
<h4>26</h4>
<div class="form-group">
    <h4>Выберите количество</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="26" id="26" value="1" checked>
        <h4 class="form-check-label">
            1
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="26" id="27" value="2" checked>
        <h4 class="form-check-label">
            2
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="26" id="28" value="3" checked>
        <h4 class="form-check-label">
            3
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="26" id="29" value="4" checked>
        <h4 class="form-check-label">
            4
        </h4>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="26" id="30" value="5" checked>
        <h4 class="form-check-label">
            5
        </h4>
    </div>
</div>
<a href="{{ url_for('download', filename='compilation.txt') }}">Скачать</a>
</body>
</html>