<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>25 Геометрия</title>
</head>
<body>
<h1>25 Геометрия: Задачи на доказательство</h1>
    <p>
        <a href="/25/1">1</a>
        <a href="/25/2">2</a>
        <a href="/25/3">3</a>
        <a href="/25/4">4</a>
        <a href="/25/5">5</a>
    </p>
    <p>
        <a href="/25/6">6</a>
        <a href="/25/7">7</a>
        <a href="/25/8">8</a>
        <a href="/25/9">9</a>
        <a href="/25/10">10</a>
    </p>
    <p>
        <a href="/25/11">11</a>
        <a href="/25/12">12</a>
        <a href="/25/13">13</a>
        <a href="/25/14">14</a>
        <a href="/25/15">15</a>
    </p>
    <p>
        <a href="/">Назад</a>
    </p>
    <p>
        <a href="/25/answers">Ответы</a>
    </p>
</body>
</html>