<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>21 Алгебра</title>
</head>
<body>
<h1>21 Алгебра: Уравнения</h1>
    <p>
        <a href="/21/1">1</a>
        <a href="/21/2">2</a>
        <a href="/21/3">3</a>
        <a href="/21/4">4</a>
        <a href="/21/5">5</a>
    </p>
    <p>
        <a href="/21/6">6</a>
        <a href="/21/7">7</a>
        <a href="/21/8">8</a>
        <a href="/21/9">9</a>
        <a href="/21/10">10</a>
    </p>
    <p>
        <a href="/21/11">11</a>
        <a href="/21/12">12</a>
        <a href="/21/13">13</a>
        <a href="/21/14">14</a>
        <a href="/21/15">15</a>
    </p>
    <p>
        <a href="/">Назад</a>
    </p>
    <p>
        <a href="/21/answers">Ответы</a>
    </p>
</body>
</html>