<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>Памятка</title>
</head>
<body>
    <h1>Памятка по введению ответов</h1>
    <h1>Что бы проверить ответ после ввода нажмите Enter</h1>
    <h2>Следуйте указаниям в задаче</h2>
    <h2>Все ответы вводите в ДЕСЯТИЧНОМ виде</h2>
    <h2>В задаче 25 вводите "чтд" если задача решена</h2>
    <h3>Так в функции сслучайного варианта вы сможете понять свой уровень</h3>
    <h3>и посчитать количество верно решенных задач</h3>
    <h2>Вводите "-" вместо ответа, если это указано</h2>
    <h2>Если ответ не один, вводите их без пробелов через точку с запятой</h2>
    <h3>(например - "4;5")</h3>
    <h2>Если ответ дробный, то вводите десятичное число с запятой</h2>
    <h3>(например - "4,5")</h3>
</body>
</html>
