<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>24 Геометрия</title>
</head>
<body>
<h1>24 Геометрия: Расчетные задачи</h1>
    <p>
        <a href="/24/1">1</a>
        <a href="/24/2">2</a>
        <a href="/24/3">3</a>
        <a href="/24/4">4</a>
        <a href="/24/5">5</a>
    </p>
    <p>
        <a href="/24/6">6</a>
        <a href="/24/7">7</a>
        <a href="/24/8">8</a>
        <a href="/24/9">9</a>
        <a href="/24/10">10</a>
    </p>
    <p>
        <a href="/24/11">11</a>
        <a href="/24/12">12</a>
        <a href="/24/13">13</a>
        <a href="/24/14">14</a>
        <a href="/24/15">15</a>
    </p>
    <p>
        <a href="/">Назад</a>
    </p>
    <p>
        <a href="/23/answers">Ответы</a>
    </p>
</body>
</html>