<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>Добро пожаловать!</title>
</head>
<p>
    <body>
    <div class="alert alert-success" role="alert">
      Простая и удобная подготовка к экзамену!
    </div>
    <div class="alert alert-danger" role="alert">
      21-26 задачи по математике с возможностью проверки ответа
    </div>
    <div class="alert alert-success" role="alert">
      Задания соответствуют уровню ОГЭ по математике
    </div>
    <div class="alert alert-danger" role="alert">
      Вы можете решать те задачи, которые Вы хотите тренировать!
    </div>
</p>
    <p>
        <a href="/materials">Справочный материал</a>
    </p>
    <p>
        <h3>Алгебра: Уравнения</h3>
    </p>
    <p>
        <a href="/21">21</a>
    </p>
    <p>
        <h3>Алгебра: Задачи</h3>
    </p>
    <p>
        <a href="/22">22</a>
    </p>
    <p>
        <h3>Алгебра: Графики</h3>
    </p>
    <p>
        <a href="/23">23</a>
    </p>
    <p>
        <h3>Геометрия: Расчетные задачи</h3>
    </p>
    <p>
        <a href="/24">24</a>
    </p>
    <p>
        <h3>Геометрия: Задачи на доказательство</h3>
    </p>
    <p>
        <a href="/25">25</a>
    </p>
    <p>
        <h3>Геометрия: Задачи повышенной сложности</h3>
    </p>
    <p>
        <a href="/26">26</a>
    </p>
    <p>
        <a href="/random_tasks">Случайный вариант</a>
        <a href="/compilation">Составить подборку</a>
    </p>
    <h2>Нашли ошибку? Пишите elshanskaya.r@inbox.ru</h2>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>