<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>Добро пожаловать!</title>
</head>
<body>
<h1>Простая и удобная подготовка к экзамену!</h1>
<h2>21-26 задачи по математике с возможностью проверки ответа</h2>
<h2>Задания соответствуют уровню ОГЭ по математике</h2>
<h2>Вы можете решать те задачи, которые Вы хотите тренировать</h2>
    <p>
        <h3>Алгебра: Уравнения</h3>
    </p>
    <p>
        <a href="/21">21</a>
    </p>
    <p>
        <h3>Алгебра: Задачи</h3>
    </p>
    <p>
        <a href="/22">22</a>
    </p>
    <p>
        <h3>Алгебра: Графики</h3>
    </p>
    <p>
        <a href="/23">23</a>
    </p>
    <p>
        <h3>Геометрия: Расчетные задачи</h3>
    </p>
    <p>
        <a href="/24">24</a>
    </p>
    <p>
        <h3>Геометрия: Задачи на доказательство</h3>
    </p>
    <p>
        <a href="/25">25</a>
    </p>
    <p>
        <h3>Геометрия: Задачи повышенной сложности</h3>
    </p>
    <p>
        <a href="/26">26</a>
    </p>
    <p>
        <a href="/random_tasks">Случайный вариант</a>
        <a href="/compilation">Составить подборку</a>
    </p>
    <h2>Нашли ошибку? Пишите elshanskaya.r@inbox.ru</h2>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>