<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>random-tasks</title>
</head>
<body>
<form action="" method="post">
    <h2>21</h2>
    <h4>{{task_1}}</h4>
    <p>
        <input class="form-control" id="answer_1" placeholder="Введите ответ" name="answer_1">
    </p>
    <h2>22</h2>
    <h4>{{task_2}}</h4>
    <p>
        <input class="form-control" id="answer_2" placeholder="Введите ответ" name="answer_2">
    </p>
    <h2>23</h2>
    <h4>{{task_3}}</h4>
    <p>
        <input class="form-control" id="answer_3" placeholder="Введите ответ" name="answer_3">
    </p>
    <h2>24</h2>
    <h4>{{task_4}}</h4>
    <p>
        <input class="form-control" id="answer_4" placeholder="Введите ответ" name="answer_4">
    </p>
    <h2>25</h2>
    <h4>{{task_5}}</h4>
    <p>
        <input class="form-control" id="answer_5" placeholder="Введите ответ" name="answer_5">
    </p>
    <h2>26</h2>
    <h4>{{task_6}}</h4>
    <p>
        <input class="form-control" id="answer_6" placeholder="Введите ответ" name="answer_6">
    </p>
    <button type="submit" class="btn btn-primary">ПРОВЕРИТЬ</button>
</form>
<h4>{{ready}}</h4>
<h4>{{verdict}}</h4>
<a href="/">Назад</a>
</body>
</html>