<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>22 Алгебра</title>
</head>
<body>
<h1>22 Алгебра: Задачи</h1>
    <p>
        <a href="/22/1">1</a>
        <a href="/22/2">2</a>
        <a href="/22/3">3</a>
        <a href="/22/4">4</a>
        <a href="/22/5">5</a>
    </p>
    <p>
        <a href="/22/6">6</a>
        <a href="/22/7">7</a>
        <a href="/22/8">8</a>
        <a href="/22/9">9</a>
        <a href="/22/10">10</a>
    </p>
    <p>
        <a href="/22/11">11</a>
        <a href="/22/12">12</a>
        <a href="/22/13">13</a>
        <a href="/22/14">14</a>
        <a href="/22/15">15</a>
    </p>
    <p>
        <a href="/">Назад</a>
    </p>
    <p>
        <a href="/22/answers">Ответы</a>
    </p>
</body>
</html>