<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>26 Геометрия</title>
</head>
<body>
<h1>26 Геометрия: Задачи повышенной сложности</h1>
    <p>
        <a href="/26/1">1</a>
        <a href="/26/2">2</a>
        <a href="/26/3">3</a>
        <a href="/26/4">4</a>
        <a href="/26/5">5</a>
    </p>
    <p>
        <a href="/26/6">6</a>
        <a href="/26/7">7</a>
        <a href="/26/8">8</a>
        <a href="/26/9">9</a>
        <a href="/26/10">10</a>
    </p>
    <p>
        <a href="/26/11">11</a>
        <a href="/26/12">12</a>
        <a href="/26/13">13</a>
        <a href="/26/14">14</a>
        <a href="/26/15">15</a>
    </p>
    <p>
        <a href="/">Назад</a>
    </p>
    <p>
        <a href="/26/answers">Ответы</a>
    </p>
</body>
</html>