<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{link}} />
    <title>your tasks</title>
</head>
<body>
<h1>Копируйте подборку с ответами в свой документ</h1>
<h3>21</h3>
<h3>{{ready_1}}</h3>
<h3>22</h3>
<h3>{{ready_2}}</h3>
<h3>23</h3>
<h3>{{ready_3}}</h3>
<h3>24</h3>
<h3>{{ready_4}}</h3>
<h3>25</h3>
<h3>{{ready_5}}</h3>
<h3>26</h3>
<h3>{{ready_6}}</h3>
<a href="/">Назад</a>
</body>
</html>
